
  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .signup-container {
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    background-image : url('../img/2.jpg');
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .signup-box {
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }

   h2 {
    margin-bottom: 1rem;
    color: #333;
  }

  .input-group {
    margin-bottom: 1rem;
    text-align: left;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align vertically */
    margin-bottom: 1.5rem;

  }
  .checkbox-group input[type="checkbox"] {
    margin: 0; /* Remove default checkbox spacing */
  }
  
  .checkbox-container {
    display: flex;
    align-items: center; /* Align checkbox and label on the same line */
  }

  .checkbox-group label {
    margin-left: 0rem;
    align-items: center;
    font-weight: normal;
    font-size: 0.7rem;
  }
  
  .login-link{
    color : #007bff;
    text-decoration: underline;
    cursor : pointer;
  }


  .sign-up-button{
    background-color: #4CAF50;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    
  }
   .sign-up-button:hover{
    background-color: #45a050;
   }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .sign-up-container form {
      padding: 20px;
    }
  }
  