html, body {
  height: 100%;
  margin: 0;
  font-family: poppins;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; /* Center vertically */
  background-image: url('../login/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  background: rgba(255, 255, 255, 0.9); 
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h2 {
  margin-bottom: 1rem;
  color: #333;
}

/* Input fields */
.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.checkbox-group {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 1rem; 
}

.remember-me {
  display: flex;
  align-items: center; 
  gap: 10px; 
  height: 10px;
}

/* Checkbox */
.remember-me input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0; 
  cursor: pointer; 
}

/* Label */
.remember-label {
  font-size: 0px; 
  color: #333; 
  cursor: pointer; }


.checkbox-group input[type="checkbox"] {
  margin: 0; 
}


.checkbox-container {
  display: flex;
  align-items: center; 
}
.checkbox-group label {
  margin-left: 0rem; 
  align-items: center;
  font-weight: normal; 
  font-size: 0.7rem;
}

.forgot-password-link {
  color: #007bff; 
  text-decoration: underline; 
  cursor: pointer;
}

.forgot-password-link {
  color: black; 

}

/* Login button */
.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #45a049;
}

/* Social login section */
.social-login {
  text-align: center;
  margin-top: 1.5rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-btn {
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.facebook-btn {
  background-color: #4267B2;
}

.google-btn {
  background-color: #db4437;
}

.facebook-btn:hover {
  background-color: #365899;
}

.google-btn:hover {
  background-color: #c23325;
}

.checkbox-group a {
  text-decoration: none;
  color: #007bff;
}

.checkbox-group a:hover {
  text-decoration: underline;
}
